.header-color {
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

html {
  scroll-behavior: smooth;
}

.side-bar-background {
  background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.landing-image {

  border-radius: 8px;
  right: 0px;
  max-width: 90%;
  height: auto;
  margin-top: auto;
  padding-bottom: 20%;
}

.header-text {
  font-family: 'Roboto', sans-serif;
  line-height: 10%;
  color: white;
  font-size: 2vw;
  text-decoration: none;
} 

.side-bar-text {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.welcome-text {
  font-family: 'Roboto', sans-serif;
  font-size: 4vw;
  /* display: inline; */
  color: white;
  text-align: left;
  /* font-weight: bold; */
}

.welcome-text-name{
  font-family: 'Roboto', sans-serif;
  font-size: 7.5vw;
  /* display: inline; */
  color:white;
  text-align: left;
  /* justify-content: left; */
  padding-right: 10%;
  /* font-weight: bold; */
}

.paragraph-text {
  padding-top: 10%;
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 1.5em;

  font-size: 2.5vw;
}

.social-links{
  padding-top: 10%;
  display:flex;
  justify-content: space-between;
  width: 30%;
  margin:auto;

}

.social-links i{
  font-size: 5vw;
  color:#7AB5E1;

}

.home-button {
  padding-right: 50%;
  font-family: 'Roboto Mono', sans-serif;
  line-height: 50%;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.left-header-text {
  padding-left: 70%;
}

.projects-banner {
  background: rgb(0, 102, 204, 0.4);
  font-family: 'Roboto', sans-serif;
  width: 20%;
  height: 20%;
  margin: auto;
  border-radius: 15px;
  text-align: center;
}

.projects-banner h2 {
  font-family: 'Roboto Mono', sans-serif;
  color: white;
  padding-left: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 4vw;
  line-height: 1.5em;
}



.projects-banner p {
  font-family: 'Roboto Mono', sans-serif;
  color: white;
  padding-left: 3%;
  padding-right:3%;
  padding-bottom: 2%;
  font-size: 1.5vw;
  line-height: 1.5em;
}

.code-images {
  padding-left: 10%;
  padding-top: 3%;
  width:65%;
  float:left;

}

.slideshow-images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: center;
  justify-items: center;
}


.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
}


.slides {
  position: relative;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 5%;
}

.slides .slick-next {
  right: 5%;
}

.characteristics h1{
  /* font-weight: bold; */
  color:white;
  font-size: 2.5vw;
  font-family: 'Roboto';
  text-align: center;
}

.characteristics-banner {
  /* opacity: .8; */
  width: 75%;
  height: 50%;
  margin: auto;
  margin-top: 5%;
  border-radius: 15px;
}

.characteristics p{
  color:white;
  font-size: 1.75vw;
  font-family: 'Alata';
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  line-height: 2em;
}

.employment {
  background: #B4CDCD;
  /* opacity: .8; */
  width: 100%;
  padding-bottom: 10%;
  margin-bottom: 5%;
  padding-top: 5%;



}

.employment2 {
  background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  width: 100%;
  height: auto;
  padding-bottom: 5%;
}

.employment h2{
  color:#141E30;
  font-size: 3vw;
  font-family: 'Playfair Display';
  text-align: center;

}

.employment2 h2{
  color:white;
  font-size: 3vw;
  font-family: 'Playfair Display';
  text-align: center;

}

.employment-nav {
  background-color: rgb(255, 255, 240, 1);
  padding: 2em 0;
  text-align: center;
  scroll-behavior: smooth;
  margin: auto;
  width: 20%;
  margin-bottom: 3%;
  border-radius: 10px;
  
}

.employment-nav a{
  color: black;
  margin: 0 1em;
  text-decoration: none;
  font-size: 1.75vw;
}


.employment h4{
  color: #141E30;
  font-size: 1.75vw;
  font-family: 'Roboto';
  text-align: center;

}

.employment2 h4{
  color: white;
  font-size: 1.75vw;
  font-family: 'Roboto';
  text-align: center;

}

.employment img{
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
  position: relative; 
  left: 5%;
  height: auto;
  vertical-align: middle;

}

.employment2 img{
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 10px;
  position: relative; 
  left: 5%;
  height: auto;
  vertical-align: middle; 

}

.employment li{
  padding-bottom: 2%;
}

.employment2 li{
  padding-bottom: 2%;
}

ul.a{
  margin-left: 3vw;
  margin-right: 2.5vw;
  list-style-type: circle;
  vertical-align: center;
  color:#141E30;
  font-size: 1.5vw;
  line-height: 1.5em;
}

ul.b{
  margin-left: 3vw;
  margin-right: 2.5vw;
  list-style-type: circle;
  vertical-align: center;
  color:white;
  font-size: 1.5vw;
  line-height: 1.5em;
}

.center-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  position:absolute;
  top: 15%;
  left: 25%;
  text-align: center;
  font-family: 'Roboto';
  font-size: 2vw;
}